@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>SignalR Scaffold</h1>

    <p>Current view count: <span id="viewCounter">0</span></p>
</div>

@section Scripts{

    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
